body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

#hero{
    min-height: calc(100vh - 80px);

    background:
        linear-gradient(
            to right,
            rgba(0,0,0,.9) 0%,
            rgba(0,0,0,.8) 25%,
            rgba(0,0,0,.5) 45%,
            rgba(0,0,0,0) 65%
        ),
        url("src/img/fundo-1.jpg"); 

    background-size: contain;
    background-position: 80% center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    color: white;
    position: relative;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #d8c08a;
    transition: .3s;
    transform: translateX(-50%);
}

.nav-link:hover::after{
    width: 80%;
}

.hero-conteudo{
    position: relative;
    z-index: 2;
    max-width: 550px;
    margin-left: 100px;
    transform: translateY(-40px);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-conteudo::before{
    content: "";
    position: absolute;
    inset: -40px;
    z-index: -1;

    background: linear-gradient(
        to right,
        rgba(0,0,0,.85),
        rgba(0,0,0,.5),
        transparent
    );
}

.frase-central{
    font-family: 'Cinzel', serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 0.95;
    color: #d8c08a;
    letter-spacing: 2px;

    text-align: center;
    margin-bottom: 15px;
    text-shadow:
        0 0 4px rgba(214,179,106,.4),
        0 0 12px rgba(214,179,106,.2);
}

.subtitulo-rpg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 100%;

    color: #c9a95c;
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    letter-spacing: 4px;

    margin-bottom: 20px;
}

.subtitulo-rpg span{
    width: 120px;
    height: 1px;
    background: #c9a95c;
}

.frase-rpg{
    max-width: 500px;

    font-size: 1.1rem;
    line-height: 1.5;
    color: #f2f2f2;

    text-align: left;
    margin-bottom: 10px;
}

.frase-secundaria{
    max-width: 500px;

    font-size: 1rem;
    line-height: 1.6;
    color: #bdbdbd;

    text-align: left;
    margin-bottom: 30px;
}

.btn-warning{
    background: linear-gradient(
        to bottom,
        #d4a63d,
        #9a6d17
    );

    border: 2px solid #cfa44c;
    color: #fff8e6;
    padding: 10px 25px;
    border-radius: 8px;

    box-shadow:
        0 0 15px rgba(212,166,61,.25);

    align-self: center;
    font-size: 1rem;
    font-weight: bold;
}

.bloco-title{
    font-family: 'Cinzel', serif;
    font-weight: 600;
}

.bloco-text,
.lead,
.footer-col p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.painel-rpg{
    width: 90%;
    max-width: 1800px;
    height: 400px;

    margin: -90px auto 30px auto;

    background: url("src/img/fundo-2.png") center/contain no-repeat;

    position: relative;
    z-index: 10;
}

.painel-rpg img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.painel-rpg h4{
    font-size: 1rem;
    font-weight: bold;
    color: #CBBD93;
    margin-bottom: 10px;
    font-family: 'Cinzel' ;
}

.painel-rpg .col{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.painel-rpg p{
    font-size: small;
    line-height: 1.2;
    max-width: 150px;
    margin: 0 auto;
    color: #FFFFE3;
}

.painel-rpg .row{
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 30px;
}

#footer{
    border-top: none;
    position: relative;

    z-index: 1;

    color: white;
    padding: 40px 0 20px;
    margin-top: 0;

    background-image:
        url("src/img/castelo-footer.png");

    background-size: 30%;
    background-position: 95% 15%;
    background-repeat: no-repeat;
}

#footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,
        #CBBD93,
        transparent
    );
}

.footer-container{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    flex-wrap: wrap;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    position: relative;
    padding-right: 40px;
}

.footer-col:not(:last-child)::after{
    content: "";
    position: absolute;
    right: -25px;
    top: 10px;
    width: 1px;
    height: 80%;

    background: linear-gradient(
        transparent,
        #5a5a5a,
        transparent
    );
}

.footer-col h4{
    color: #CBBD93;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-col a{
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col a:hover{
    color: white;
}

.footer-col p{
    color: #aaa;
    margin: 0;
    font-size: 14px;
}

.footer-logo{
    width: 180px;
    height: auto;
}

.redes{
    display: flex;
    gap: 15px;
    font-size: 24px;
}

.redes a{
    color: #c7c7c7;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid #222;
    margin-top: 20px;
    padding: 10px;
    color: #777;
    font-size: 13px;
}

h1, h2, h3, h4, .navbar, .btn{
    font-family: 'Cinzel', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.nav-link{
    letter-spacing: 1px;
    font-size: 0.95rem;
}